<div class="mx-auto d-flex flex-column justify-content-center border border-dark" style="width: 600px;">
  <div class="text-center">
  <h1 class="mt-5 mb-5"><%= @cocktail.name.upcase %></h1>
  <%= cl_image_tag @cocktail.photo.key, height: 300, width: 400, crop: :fill %>
    <h4 class="mt-4">Ingredients List</h4>
    <ul class="list-unstyled">
      <% @cocktail.doses.each do |dose| %>
      <li class="mt-4"><%= dose.description %> <%= dose.ingredient.name %></li>
      <%= link_to "Delete", dose_path(dose), method: :delete  %>
      <% end %>
    </ul>
    <%= link_to "Add Ingredients", new_cocktail_dose_path(@cocktail) %>
  </div>
</div>



